<!DOCTYPE html>
<html>

<head>
<title>Add Income</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="page-card">

<h2 class="page-title">Add Income</h2>

<form method="post">

<div class="form-group">

<input type="date" name="date" required>

<input type="text" name="source" placeholder="Source" required>

<input type="number" name="amount" placeholder="Amount" required>

<button class="btn btn-add">Add</button>

</div>

</form>

<table>

<tr>
<th>Date</th>
<th>Source</th>
<th>Amount</th>
<th>Delete</th>
</tr>

{% for i in income %}

<tr>
<td>{{i.date}}</td>
<td>{{i.source}}</td>
<td>₹ {{i.amount}}</td>

<td>
<a class="delete-btn" href="/delete_income/{{i.id}}">
Delete
</a>
</td>

</tr>

{% endfor %}

</table>
<br>

<div style="text-align:center;">
<a href="/dashboard">
<button class="btn btn-back">⬅ Back to Dashboard</button>
</a>
</div>

</div>

</div>

</body>

</html>