<!DOCTYPE html>
<html>

<head>
<title>Add Expense</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="page-card">

<h2 class="page-title">Add Expense</h2>

<form method="post">

<div class="form-group">

<input type="date" name="date" required>

<input type="text" name="category" placeholder="Category" required>

<input type="number" name="amount" placeholder="Amount" required>
<input type="text" name="description" placeholder="Description" required>

<button class="btn-add">Add</button>

</div>

</form>

<table>

<tr>
<th>Date</th>
<th>Category</th>
<th>Amount</th>
<th>Description</th>
<th>Delete</th>
</tr>

{% for e in expenses %}

<tr>
<td>{{e.date}}</td>
<td>{{e.category}}</td>
<td>₹ {{e.amount}}</td>
<td> {{e.description}}</td>

<td>
<a class="delete-btn" href="/delete_expense/{{e.id}}" onclick="return confirm('Delete this expense?')">
Delete
</a>
</td>

</tr>

{% endfor %}

</table>

<br>

<div style="text-align:center;">
<a href="/dashboard">
<button class="btn-back">⬅ Back to Dashboard</button>
</a>
</div>

</div>

</body>
</html>